<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wilmar.tms.rms.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wilmar.tms.rms.domain.User">
    <id column="ID" jdbcType="TINYINT" property="id" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="DELETED" jdbcType="BIT" property="deleted" />
    <result column="LAST_UPDATE" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="ACCOUNT" jdbcType="NCHAR" property="account" />
    <result column="FULL_NAME" jdbcType="NVARCHAR" property="fullName" />
    <result column="EXPIRE_DATE" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="EMAIL" jdbcType="NCHAR" property="email" />
    <result column="PHONE" jdbcType="NVARCHAR" property="phone" />
    <result column="LAST_LOGIN" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="LOGIN_COUNT" jdbcType="TINYINT" property="loginCount" />
    <result column="SALT" jdbcType="NVARCHAR" property="salt" />
    <result column="PASSWORD" jdbcType="NVARCHAR" property="password" />
    <result column="USER_TYPE" jdbcType="NCHAR" property="userType" />
    <result column="AVATAR_ID" jdbcType="VARCHAR" property="avatarId" />
    <result column="USER_ID" jdbcType="TINYINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATED, DELETED, LAST_UPDATE, ACCOUNT, FULL_NAME, EXPIRE_DATE, STATUS, EMAIL, 
    PHONE, LAST_LOGIN, LOGIN_COUNT, SALT, PASSWORD, USER_TYPE, AVATAR_ID, USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RMS_USER
    where ID = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from RMS_USER
    where ID = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.wilmar.tms.rms.domain.User">
    insert into RMS_USER (ID, CREATED, DELETED, 
      LAST_UPDATE, ACCOUNT, FULL_NAME, 
      EXPIRE_DATE, STATUS, EMAIL, 
      PHONE, LAST_LOGIN, LOGIN_COUNT, 
      SALT, PASSWORD, USER_TYPE, 
      AVATAR_ID, USER_ID)
    values (#{id,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{lastUpdate,jdbcType=TIMESTAMP}, #{account,jdbcType=NCHAR}, #{fullName,jdbcType=NVARCHAR}, 
      #{expireDate,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{email,jdbcType=NCHAR}, 
      #{phone,jdbcType=NVARCHAR}, #{lastLogin,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=TINYINT}, 
      #{salt,jdbcType=NVARCHAR}, #{password,jdbcType=NVARCHAR}, #{userType,jdbcType=NCHAR}, 
      #{avatarId,jdbcType=VARCHAR}, #{userId,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wilmar.tms.rms.domain.User">
    insert into RMS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="lastUpdate != null">
        LAST_UPDATE,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="fullName != null">
        FULL_NAME,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="lastLogin != null">
        LAST_LOGIN,
      </if>
      <if test="loginCount != null">
        LOGIN_COUNT,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="avatarId != null">
        AVATAR_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        #{account,jdbcType=NCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=NVARCHAR},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="email != null">
        #{email,jdbcType=NCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null">
        #{loginCount,jdbcType=TINYINT},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=NCHAR},
      </if>
      <if test="avatarId != null">
        #{avatarId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wilmar.tms.rms.domain.User">
    update RMS_USER
    <set>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=BIT},
      </if>
      <if test="lastUpdate != null">
        LAST_UPDATE = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=NCHAR},
      </if>
      <if test="fullName != null">
        FULL_NAME = #{fullName,jdbcType=NVARCHAR},
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=BIT},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=NCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="lastLogin != null">
        LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null">
        LOGIN_COUNT = #{loginCount,jdbcType=TINYINT},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=NCHAR},
      </if>
      <if test="avatarId != null">
        AVATAR_ID = #{avatarId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wilmar.tms.rms.domain.User">
    update RMS_USER
    set CREATED = #{created,jdbcType=TIMESTAMP},
      DELETED = #{deleted,jdbcType=BIT},
      LAST_UPDATE = #{lastUpdate,jdbcType=TIMESTAMP},
      ACCOUNT = #{account,jdbcType=NCHAR},
      FULL_NAME = #{fullName,jdbcType=NVARCHAR},
      EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=BIT},
      EMAIL = #{email,jdbcType=NCHAR},
      PHONE = #{phone,jdbcType=NVARCHAR},
      LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP},
      LOGIN_COUNT = #{loginCount,jdbcType=TINYINT},
      SALT = #{salt,jdbcType=NVARCHAR},
      PASSWORD = #{password,jdbcType=NVARCHAR},
      USER_TYPE = #{userType,jdbcType=NCHAR},
      AVATAR_ID = #{avatarId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=TINYINT}
    where ID = #{id,jdbcType=TINYINT}
  </update>
</mapper>