<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:microsf="http://micro.camelot.com/schema/microsf"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://micro.camelot.com/schema/microsf
        http://micro.camelot.com/schema/microsf/microsf.xsd
        ">
	<microsf:application name="${dubbo.application.name}" />
	<microsf:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"/>

<!-- 	<microsf:application name="${dubbo.application.name}" />

	<microsf:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" client="${dubbo.registry.client}" />
	<microsf:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
	<microsf:provider delay="-1" timeout="6000" retries="0" />
	<microsf:consumer timeout="${dubbo.timeout.tmsbase}" retries="0" check="false" />
 -->

</beans>