<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
				http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<description>Spring Configuration</description>
	<context:component-scan base-package="com.wilmar*">
		<context:exclude-filter type="regex" expression="com\.wilmar\.itm\.web\.rest" />
	</context:component-scan>

	<aop:aspectj-autoproxy />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 本地环境配置文件 -->
	<import resource="classpath*:profile.xml" />
	<!-- <import resource="classpath*:spring/spring-config-dubbo.xml" /> -->
	<import resource="classpath*:spring/spring-redis.xml" />
	<import resource="classpath*:spring/spring-dao.xml" />
	<!-- <import resource="classpath*:consumer/spring-*-consumer.xml" /> -->
	<import resource="classpath*:shiro/applicationContext-shiro.xml" />
	<import resource="classpath*:message/message-i18n.xml" />
	<bean id="jsonDateConverterMapper" class="top.bowenlee.notes.util.JsonObjectConverterMapper" />
	<util:properties id="menu" location="classpath:properties/init/menu.properties"></util:properties>
	<util:properties id="fields" location="classpath:properties/init/fields.properties"></util:properties>
	<util:properties id="shiro" location="classpath:properties/init/shiro.properties"></util:properties>

</beans>